:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167bf7;
    --botao-azul-hover: #358efc;
    --cor-de-fundo: #00030c;
    --fonte-principal: 'Inter';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("imagens/banner.png" );
    background-size:cover;
    background-repeat: no-repeat;
    height: 800px;
    align-items: center;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 1em;
}

.container__botao {
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 8px;
    padding: 1em;
    font-size: 16px;
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}

.container__botao:hover {
    background-color: var(--botao-azul-hover);
    transition: 1s;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--cinza-secundario);
    color: var(--cinza-secundario);
}

.botao_secundario:hover {
    background-color: var(--branco-principal);
    border: 2px solid var(--branco-principal);
    color: var(--cor-de-fundo);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario)
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 10em 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    font-weight: 400;
    font-size: 16px;
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center;
    margin: 2.5em 10em;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal)
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal)
}

.rodape {
    text-align: center;
    margin: 2em 10em;
}

.rodape_lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.rodape_lista a {
    color: var(--branco-principal);
    text-decoration: none;
    padding: 0 1em;
}

.rodape__copy {
    color: var(--cinza-secundario);
    padding-bottom: 2em;
}

@media screen and (max-width: 768px) {
    .container {
        display: block;
        background-image: none;
        height: auto;
    }

    .container__caixa {
        display: inline-block;
        margin-top: 50px;
    }

    .container__imagem {
        width: 50vw;
    }

    .container__caixa {
        margin: 2em 2em;
    }

    .secundario {
        margin: 5em 1.5em;
        text-align: center;
    }

    .descricao__titulo {
        font-weight: 700;
        font-size: 30px;
    }

    .dispositivos__titulo {
        font-size: 36px;
        text-align: left;
    }

    .secundario__imagem {
        width: 50vw;
    }

    .dispositivos__lista {
        display: block;
    }

    .rodape {
        text-align: center;
        margin: 2em 2em;
    }

    .rodape_lista {
        display: block;
    }

    .lista_link {
        color: var(--branco-principal);
        text-decoration: none;
        padding: 0.5em 1em;
    }

}
